<ion-popover-view>
    <ion-content>

        <div class="popoverSmalim">
            <select ng-model="type[day.id]" ng-init="type[day.id] = '0'">
                <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
            </select>
        </div>

        <div class="row100">
            <div class="popoverRow50">:עלה קובץ</div>
            <div class="popoverRow50" align="right">
                <div ngf-select="upload($file, day.Cur_Date)"><img src="img/edit.png" width="25"></div>
            </div>
        </div>

    </ion-content>
</ion-popover-view>