<ion-view hide-nav-bar="true">
    <ion-content class="has-footer">

        <div class="mainDiv rtl">

            <div class="row100">
                <div class="headerButton">
                    <img src="img/menu.png" width="30" ng-click="toggleRightSideMenu()">
                </div>
                <div class="headerLogo">
                    <img src="img/logo.png" style="width: 60%;">
                </div>
                <div class="headerButton" ng-click="goBack()">
                    <img src="img/left.png" width="15" >
                </div>
            </div>

            <div class="workerName">{{foundWorkerName}}</div>

            <div class="verticalLine"></div>

            <div class="row100">

                <div class="workerDateCell">
                    <label class="item workerDateLabel" style="background-color: transparent !important;">
                        <input type="text" ng-change="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="מתאריך" class="workerDate" ng-model="dates.from">
                    </label>
                </div>

                <div class="workerDateCell">
                    <label class="item workerDateLabel"  style="background-color: transparent !important;">
                        <input type="text" ng-change="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="עד תאריך" class="workerDate" ng-model="dates.to">
                    </label>
                </div>

                <div class="workerButtonCell">
                    <img src="img/sign.png" width="30" style="margin-top: 10px;">
                </div>

                <div class="workerButtonCell">
                    <img src="img/stats.png" width="30" style="margin-top: 7px;" ui-sref="app.statistics({id: id})">
                </div>

            </div>

            <div class="row100" style="margin-bottom: 10px;">

                <div class="workerMonth">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addMonth()"></div>
                        <div class="workerMonthYearText">{{curDate | amDateFormat:'MMMM'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractMonth()"></div>

                    </div>

                </div>

                <div class="workerYear">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addYear()"></div>
                        <div class="workerMonthYearText">{{curDate | amDateFormat:'YYYY'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractYear()"></div>

                    </div>

                </div>

            </div>

            <div ng-repeat="day in curMonthAttendance">

                <div class="row100">

                    <div class="workerDay">

                        {{day.Cur_Date | amDateFormat: "DD"}}

                    </div>

                    <div class="workerReport">

                        <div class="row100">

                            <div class="workerInOutDiv" ng-show="day.IN122 == ''">
                                <div class="workerInOutNotActive" ng-show="type[day.id] == 0">כניסה</div>
                                <div class="workerInOut" ng-show="type[day.id] != 0" ng-click="showInPopup(day.id, day.Cur_Date, type, day.OUT122)">כניסה</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.IN122 != ''">
                                <div class="workerInOutMarked" ng-click="showInPopup(day.id, day.Cur_Date, type, day.OUT122)">{{day.IN122}}</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.OUT122 == ''">
                                <div class="workerInOutNotActive" ng-show="type[day.id] == 0">יציאה</div>
                                <div class="workerInOut" ng-show="type[day.id] != 0" ng-click="showOutPopup(day.id, day.Cur_Date, type, day.IN122)">יציאה</div>
                            </div>

                            <div class="workerInOutDiv" ng-show="day.OUT122 != ''">
                                <div class="workerInOutMarked" ng-click="showOutPopup(day.id, day.Cur_Date, type, day.IN122)">{{day.OUT122}}</div>
                            </div>

                            <div class="workerDiff" ng-show="day.IN122 != '' && day.OUT122 != ''">
                                {{day.SAC122}}
                            </div>

                            <div class="workerOptionsDiv" ng-show="day.IN122 == '' && day.OUT122 == ''">
                                <select class="workerOptions" ng-model="type[day.id]" ng-init="type[day.id] = '0'" >
                                    <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
                                </select>
                            </div>

                            <div class="workerOptionsDiv" ng-if="(day.IN122 != '' && day.OUT122 == '') || (day.IN122 == '' && day.OUT122 != '')">
                                <select class="workerOptions" ng-model="type[day.id]"  ng-init='type[day.id] = day.SMLO122' ng-show="day.IN122 != '' || day.OUT122 != ''">
                                    <option ng-repeat="semel in smalim" value="{{semel.ID}}">{{semel.Name}}</option>
                                </select>
                            </div>

                            <div class="workerFile" ng-show="(day.IN122 == '' || day.OUT122 == '')">
                                <div ngf-select="upload($file, day.Cur_Date)"><img src="img/edit.png" width="25"></div>
                            </div>

                            <div class="workerSettings" ng-if="day.IN122 != '' && day.OUT122 != ''">
                                <i class="icon ion-android-settings" style="font-size: 30px; color: #000A45;" ng-click="openPopover($event, day.Cur_Date)"></i>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="verticalLine"></div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="workerFooter">
        <div class="row100">
            <div class="workerTotalHoursText" ng-show="datesMode == false">
                סך שעות עבודה חודשי
            </div>
            <div class="workerTotalHoursText" ng-show="datesMode == true">
                סך שעות עבודה
            </div>
            <div class="workerTotalHours">
{{totalTime}}
            </div>
        </div>
    </ion-footer-bar>
</ion-view>