<div class="row100">
    <div class="headerButton">
        <img src="img/menu.png" width="30" ng-click="toggleRightSideMenu()">
    </div>
    <div class="headerLogo">
        <img src="img/logo.png" style="width: 60%;">
    </div>
    <div class="headerButton">
        <img src="img/left.png" width="15" ng-click="goBack()">
    </div>
</div>