<ion-view hide-nav-bar="true">
    <ion-content class="has-footer">

        <div class="mainDiv rtl">

            <ng-include src="'templates/header.html'"></ng-include>

            <div class="verticalLine"></div>

            <div class="row100">

                <div class="workerDateCell">
                    <label class="item workerDateLabel" style="background-color: transparent !important;">
                        <input type="text" ng-blur="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="מתאריך" class="workerDate" ng-model="dates.from">
                    </label>
                </div>

                <div class="workerDateCell">
                    <label class="item workerDateLabel"  style="background-color: transparent !important;">
                        <input type="text" ng-blur="getAttendance()" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="עד תאריך" class="workerDate" ng-model="dates.to">
                    </label>
                </div>

                <div class="workerButtonCell">
                    <img src="img/sign.png" width="30" style="margin-top: 15px;">
                </div>

                <div class="workerButtonCell">
                    <img src="img/stats.png" width="30" style="margin-top: 12px;" ui-sref="app.statistics">
                </div>

            </div>

            <div class="row100" style="margin-bottom: 10px;">

                <div class="workerMonth">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addMonth()"></div>
                        <div class="workerMonthYearText">{{curDate | date:'MMMM'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractMonth()"></div>

                    </div>

                </div>

                <div class="workerYear">

                    <div class="row100">

                        <div class="workerMonthYearArrow"><img src="img/right.png" width="15" ng-click="addYear()"></div>
                        <div class="workerMonthYearText">{{curDate | date:'yyyy'}}</div>
                        <div class="workerMonthYearArrow"><img src="img/left.png" width="10" ng-click="subtractYear()"></div>

                    </div>

                </div>

            </div>

            <div ng-repeat="day in curMonthAttendance">

                <div class="row100">

                    <div class="workerDay">

                        {{day.Cur_Date | date: "dd"}}

                    </div>

                    <div class="workerReport">

                        <div class="row100">

                            <label class="item workerInOutDiv" ng-show="day.IN122 == '' && (angular.equals({}, isCheckedIn) || isCheckedIn[0] != day.id)">
                                <input ng-disabled="type[day.id] == 0" ng-blur="makeCheckIn(day.id, day.Cur_Date)" ng-class='{workerInOutNotActive : type[day.id] == 0}' ng-model="fromTime[day.id]" type="text" onClick="(this.type='time')" onfocus="(this.type='time')" placeholder="כניסה" class="workerInOut">
                            </label>

                            <label class="item workerInOutDiv" ng-show="day.IN122 == '' && isCheckedIn[0] == day.id">
                                <div class="workerInOutMarked">Done</div>
                            </label>

                            <div class="workerInOutDiv" ng-show="day.IN122 != ''">
                                <div class="workerInOutMarked">{{day.IN122}}</div>
                            </div>

                            <label class="item workerInOutDiv" ng-show="day.OUT122 == ''">
                                <input ng-disabled="type[day.id] == 0" ng-blur="makeCheckOut(day.id, day.Cur_Date)" ng-class='{workerInOutNotActive : type[day.id] == 0}' ng-model="toTime[day.id]" type="text" onClick="(this.type='time')" onfocus="(this.type='time')" placeholder="יציאה" class="workerInOut">
                            </label>

                            <div class="workerInOutDiv" ng-show="day.OUT122 != ''">
                                <div class="workerInOutMarked">{{day.OUT122}}</div>
                            </div>

                            <div class="workerOptionsDiv" ng-show="day.IN122 == '' || day.OUT122 == ''">
                                <select class="workerOptions" ng-model="type[day.id]" ng-init="type[day.id] = '0'" ng-disabled="!angular.equals({}, isCheckedIn) && isCheckedIn[0] != day.id">
                                    <option value="0">בחר קטגוריה</option>
                                    <option value="1">דיווח היעדרות</option>
                                    <option value="2">חופש מחלה</option>
                                    <option value="3">מילוים</option>
                                </select>
                            </div>

                            <div class="workerFile" ng-show="(day.IN122 == '' || day.OUT122 == '') && (angular.equals({}, isCheckedIn) || isCheckedIn[0] != day.id)">
                                <div ngf-select="upload($file)"><img src="img/edit.png" width="25"></div>
                            </div>

                            <div class="workerDiff" ng-show="day.IN122 != '' && day.OUT122 != ''">
                                {{day.diff}}
                            </div>

                        </div>

                    </div>

                </div>

                <div class="verticalLine"></div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="workerFooter">
        <div class="row100">
            <div class="workerTotalHoursText" ng-show="datesMode == false">
                סך שעות עבודה חודשי
            </div>
            <div class="workerTotalHoursText" ng-show="datesMode == true">
                סך שעות עבודה
            </div>
            <div class="workerTotalHours">
{{totalTime}}
            </div>
        </div>
    </ion-footer-bar>
</ion-view>